.feedback-body{
    background-color: #0f1012;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-container {
    max-width: 500px;
    /* margin-top: 40vh; */
 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    /* margin-top: 150px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
  }
  
  
  .feedback-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  

  .feedback-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  
  .feedback-submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .feedback-submit-button:hover {
    background-color: #0f1012;
  }
  
  
  .feedback-thank-you {
    font-style: italic;
    color: #555;
  }
  .port
  {
    text-align: center;
    margin-top: 40px;
  }
  .ports
  {
    margin-top: 40px;
  }