.input-div-service input{
   
    outline: 0;
    flex: 1; 
    background: #1f1f1f;
    border-width: 0 0 2px;
    width: 100%;
    max-width: 400px;
    color: aliceblue;
    padding-top: 20px;
  
  
  /*   
    background: rgba(9, 0, 0, 0.05); /* Greyish glassy background color */
    /* backdrop-filter: blur(10px); */ 
    /* border-image: linear-gradient(45deg, rgb(244, 184, 231), rgb(134, 26, 132)) 1; */
    /* border-image-slice: 1; */
    margin-bottom: 15px;
  
    
  
}
.service-info{
text-align: center;
color: cornsilk;
justify-content: center;
/* background-color:#1f1f1f; */
font-family: 'poppins','sansseriff';
margin-left: 200px;
margin-right: 200px;
border-radius: 10px;
padding-top: 100px;
padding-bottom: 315px;
margin-top: 20px;

}